section {
    padding: 5%;
    justify-content: space-between;
    column-gap: 5%;
}

body {
    font-family: var(--system-font);
    font-size: 1.2rem;
}

h3 {
    font-family: var(--primary-font);
    font-size: 2rem;
    font-weight: 100;
}

.flex-row div {
    flex: 1 1 30%;
}