/* Contrology Studio color palete and font family*/
@font-face { 
    font-family: 'Glacial-Indifference'; 
    src: url('GlacialIndifference-Regular.otf'); 
    font-weight: normal;
    font-style: normal;
} 

@font-face { 
    font-family: 'Glacial-Indifference'; 
    src: url('glacial-indifference.bold.otf'); 
    font-weight: bold;
    font-style: normal;
} 

@font-face { 
    font-family: 'Moon-Time'; 
    src: url('moon-time-regular.ttf'); 
} 

:root {
    --primary-bgcolor: #F6EFEB;
    --secondary-bgcolor: #EED7C1;
    --dark-bgcolor: #2D3640;
    --bronze: rgb(160, 132, 99);
    --charcoal: rgb(66, 71, 84);
    --blue: rgb(7, 122, 153);
    --goldShade: rgb(208, 139, 32);
    --goldTint: rgb(238, 213, 174);
    --blueTint: rgb(148, 178, 191);
    --primary-font: "Sorts Mill Goudy", serif;
    --system-font: "Glacial-Indifference", sans-serif;
    --special-font: "Moon-Time", cursive;
    --secondary-font: "Calibri";
}

body {
    font-family: var(--primary-font);
    background-color: var(--primary-bgcolor);
    font-weight: 100;
}
button {
    font-family: var(--system-font);
}

h2 {
    font-family: var(--primary-font);
    font-size: 3rem;
    font-weight: 100;
}

.video-container {
    position: relative;
}

.video-container video {
    object-fit: cover;
    width: 100%;
    height: 600px;
}

#video-message {
    color: white;
    position: absolute;
    width: 100%;
    top: 0;
    pointer-events: none;
}

#home-logo {
    display: block;
    margin: auto;
    height: 120px;
    object-fit: cover;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 120px;

}

nav a {
    color: white;
    padding: 5px;
    text-decoration: none;
    font-family: var(--system-font);
    font-size: 1.5rem;
}

nav a:hover {
    font-weight: bolder;
}

.dropdown-item {
    display: none;
}

.dropdown-item a {
    display: block;
}

.dropdown:hover .dropdown-item{
    display: block;
    position: absolute;
}

#menu-sect {
    pointer-events: all;
}

#home-title {
    text-align: center;
}

#home-title h1 {
    font-family: var(--special-font);
    font-size: 5rem;
    font-weight: 100;
    margin-bottom: 0;
}

#home-title h2 {
  margin: 20px 0;
}

#home-title button {
    height: 60px;
    font-size: 1rem;
    padding: 2px 16px;
    border-radius: 10px;
    border: 0;
    pointer-events: all;
}

#home-main1, #home-main2, #home-main3 {
    display: flex;
    justify-content: space-around;
}

#home-main1 {
    text-align: center;
}

#home-main1 h2 {
    margin-bottom: 10px;
}

#home-main1 p {
    font-family: var(--system-font);
    font-size: 1.5rem;
    padding: 0 20%;
    margin-top: 0;
}

#home-main1 div {
    margin: 10px 20px;
}

#home-main1 img {
    max-width: 300px;
    object-fit:cover;
}

#home-main2 {
    background-color: white;
    padding: 50px;
    column-gap: 5%;
}

#home-main2 > div {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    row-gap: 20px;
}

#home-main2 img {
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    max-width: 100%;
}

#home-main2 button {
    width: 140px;
    height: 55px;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: var(--primary-bgcolor);
    border-width: thin;
}

#home-main3 {
    padding: 50px;
    column-gap: 5%;
    align-items: stretch;
}

#home-main3-1 {
    flex: 1 1 40%;
    background-image: url(../images/shot03.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 80px;
}

#home-main3-2 {
    flex: 2 1 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#home-main3 img {
    border-radius: 80px;
    object-fit: cover;
    max-width: 100%; 
    height: 100%;
}

#home-main3-2 h2 {
    font-size: 2.5rem;
    margin-bottom:15px;
}

#home-main3-2 p {
    font-family: var(--system-font);
    font-size: 1.5rem;
    margin-top: 0;
    padding-right: 30px;
}

#home-main3 button {
    width: 200px;
    height: 55px;
    border-radius: 10px;
    font-size: 1rem;
    background-color: var(--secondary-bgcolor);
    border-color: var(--dark-bgcolor);
    border-width: thin;
}

#home-main4 iframe {
    border: 0;
}

#home-main5 {
    background-image: url("../images/shot05.jpg");
    background-size: cover;
    background-position: center;
    height: 720px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#flow-with-us {
    background-color: white;
    opacity: 0.8;
    margin-left: 5%;
    margin-bottom: 5%;
    padding: 1rem;
    width: 210px;
    border-radius: 30px;
}

#flow-with-us h2 {
    font-size: 2rem;
}

#open-hours {
    font-family: var(--system-font);
    font-size: 1.5rem;
}

#flow-with-us p {
    font-family: var(--system-font);
    font-size: 1.1rem;
}

#follow-us {
    width: 150px;
    margin-right: 5%;
    margin-bottom: 5%;
}

#follow-us h3 {
    font-family: var(--system-font);
    color: white;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

#follow-us img {
    width: 36px;
}

#follow-us a:hover {
    opacity: 0.7;
}

.fa-brands, .fab {
    font-size: 1.5rem;
    color: white;
    background-color: transparent;
    padding: 3px;
}

.small-text {
    font-size: 0.8rem;
}

button:hover {
    opacity: 0.7;
}

#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: black; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 1rem; /* Some padding */
    font-size: 2rem; /* Increase font size */
    width: 2rem;
    height: 2rem;
    opacity: 0.2;
}

#topBtn:hover {
    opacity: 0.7;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: black; /*fallback color */
    background-color: rgb(0,0,0, 0.7);
}

#wechat-modal-content {
    background-color: white;
    position: relative;
    width: fit-content;
    padding: 20px;
    margin: auto;
    text-align: center;
}

#wechat-modal p {
    font-family: var(--system-font);
}

#wechat-modal img {
    border: 1px solid black;
}

#wechat-modal .close-btn {
    position: absolute;
    right: 0;
    top: 0;
}

footer {
    background-color: black;
}
.copyright-area {
    padding: 15px 30px;
}

.copyright-area {
    font-size: 1rem;
    font-family: var(--system-font);
    color: white;
}

.normal-field {
    width: 80%;
    font-family: var(--primary-font);
    color: var(--charcoal);
    background-color: var(--goldTint);
}

#phone-area {
    padding-left: 10px;
}

#contact-body input {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    height: 1.5em;
}

#enquiry-form label {
    display: block;
    padding: 10px 0 0 0;
}

#ict:hover,
#front:hover,
#web:hover,
#scripting:hover {
    cursor: pointer;
    opacity: 0.7;
}

.side-bar {
    color: var(--goldTint);
    flex-basis: 300px;
    padding: 0 0 0 30px;
}

#contact-body .side-bar {
    background-color: var(--charcoal);
    flex-basis: 500px;
    padding-left: 50px;
}

#contact-body .side-bar-message {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.hide {
    display: none;
}

#quotation {
    font-style: italic;
    font-size: large;
}

#author {
    text-align: right;
}

#next-button,
#send-button,
#ok-button {
    background-color: var(--goldTint);
    color: var(--charcoal);
    font-family: var(--secondary-font);
    font-size: medium;
    font-weight: bold;
    padding: 5px 10px;
    margin-bottom: 10px;
    min-width: 80px;
    border-radius: 5px;
    cursor: pointer;
}

#ok-button {
    margin-top: 20px;
}

#send-button {
    display: block;
    margin: 10px 0 20px 0;
}

